<ion-view view-title="Productos">

  <ion-nav-bar animation="nav-title-slide-ios7" class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-title>
    <img id="logo-head" src="img/horizont-small.png">    
  </ion-nav-title>

  <ion-content>

    <div class="banner-dark">
      <h4 ng-if="subcategory == undefined">{{category}}</h4>
      <h4 ng-if="subcategory != undefined">{{category}} > {{subcategory}}</h4>
    </div>

    <ion-list>        
        <div ng-repeat="product in products">
          <ion-item class="item-stable" ng-click="toggleGroup(product)" ng-class="{active: isGroupShown(product)}">
              <i class="icon" ng-class="isGroupShown(product) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            &nbsp;
            {{product.name}}
          </ion-item>
          <ion-item class="item-accordion item-button-right" ng-show="isGroupShown(product)">
            <p> Precio: $ {{product.price}} </p>
            <!--<p ng-if="product.stock != undefined"> Stock: {{product.stock}} </p>-->
          </ion-item>

        </div>
      </ion-list>


  </ion-content>

</ion-view>