<ion-view view-title="Sectores">
  <ion-nav-bar animation="nav-title-slide-ios7" class="bar-stable">
  </ion-nav-bar>

  <ion-nav-title>
    <img id="logo-head" src="../img/horizont-small.png">    
  </ion-nav-title>

  <div class="bar bar-subheader bar-positive">
    <button class="button button-clear custum-button button-dark" ng-controller="MenuCtrl" ng-click="goToMenu()">Menú</button>

    <button class="button button-clear custum-button button-dark" ng-controller="HistoryCtrl" ng-click="goToHistory()">Historial</button>
  </div>

  <ion-content class="has-header has-subheader">

    <div class="banner">
      <h4>ASIGNA UN SECTOR</h4>
      <p>Elige un sector para tu pedido</p>
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="stay in stays" type="item-text-wrap" ng-click="selectStayNumber(stay.name)">
          <h2 class="bolder">{{stay.name}}</h2>
          <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
