<ion-view title="Historial">

	<ion-nav-bar animation="nav-title-slide-ios7" class="bar-stable custom-bar">
	</ion-nav-bar>

	<ion-nav-title>
		<img id="logo-head" src="../img/horizont-small.png">    
	</ion-nav-title>

	<ion-nav-buttons side="right">
		<button class="button" ng-controller="OrdersCtrl" ng-click="removeOrder()">
			<i class="icon ion-trash-b custom-trash-icon"></i>
		</button>
	</ion-nav-buttons>

	<ion-content>
		<div id="current-container">{{stay}} {{stayNumber}}</div>
		
		<div class="banner">
	      <h4>HISTORIAL</h4>
	      <p>Tus pedidos enviados hoy</p>
	    </div>

	    <ion-list>

			<div ng-if="myOrders.length < 1" class="notification">
				<h4 style="text-align: center;">No ha enviado ningun pedido hoy</h4>
			</div>

	      <div ng-repeat="myOrder in myOrders">
	        <ion-item class="item-stable" ng-click="toggleGroup(myOrder)" ng-class="{active: isGroupShown(myOrder)}">
	            <i class="icon" ng-class="isGroupShown(myOrder) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
	          &nbsp;
	          <p class="status" ng-class="isPending(myOrder.status) ? 'green' : 'red'" style="line-height: 20px;"> {{myOrder.status}} </p>
	          {{myOrder.stay}} {{myOrder.stayNumber}}
	          <p>{{myOrder.date}}</p>
	        </ion-item>
	        <ion-item class="item-accordion" ng-show="isGroupShown(myOrder)" ng-repeat="product in myOrder.products">
	          <div>
	          	<span>{{product.order}} {{product.name}}</span>
	          	<span style="float:right;">$ {{product.total}}</span>
	          </div>
	        </ion-item>
	        <ion-item class="item-accordion" ng-show="isGroupShown(myOrder)">
	          <div> <span><b>TOTAL</b></span> <span style="float:right;">$ {{myOrder.total}}</span> </div>	          
	        </ion-item>        

	      </div>


    </ion-list>





	</ion-content>
</ion-view>