<ion-view title="Tipos">
	<ion-nav-bar animation="nav-title-slide-ios7" class="bar-stable custom-bar">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>

	<ion-nav-title>
		<img id="logo-head" src="../img/horizont-small.png">    
	</ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button" ng-controller="OrdersCtrl" ng-click="removeOrder()">
		<i class="icon ion-trash-b custom-trash-icon"></i>
	</button>
  </ion-nav-buttons>

	<ion-content>

		<div id="current-container">{{stay}} {{stayNumber}}</div>

		<div class="banner">
		  <h4>{{category}}</h4>
		</div>

		<ion-list>

			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="subcategory in subcategories" type="item-text-wrap" ng-click="selectProducts(subcategory._id, subcategory.name)">
				<h2>{{subcategory.name}}</h2>
				<i class="icon ion-chevron-right"></i>
			</ion-item>

    </ion-list>
	</ion-content>
</ion-view>