<ion-view title="Productos">
	<ion-nav-bar animation="nav-title-slide-ios7" class="bar-stable custom-bar">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>

  <ion-nav-title>
    <img id="logo-head" src="../img/horizont-small.png">    
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button" ng-controller="OrdersCtrl" ng-click="removeOrder()">
      <i class="icon ion-trash-b custom-trash-icon"></i>
    </button>
  </ion-nav-buttons>

	<ion-content>

    <div id="current-container">{{stay}} {{stayNumber}}</div>

    <div class="banner">
      <h4 ng-if="subcategory == undefined">{{category}}</h4>
      <h4 ng-if="subcategory != undefined">{{category}} > {{subcategory}}</h4>
    </div>

		<ion-list>
      <div ng-repeat="product in products">
        <ion-item class="item-stable" ng-click="toggleGroup(product)" ng-class="{active: isGroupShown(product)}">
            <i class="icon" ng-class="isGroupShown(product) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            <!--<div>{{product.name}}</div>-->
            <span>{{product.name}}</span> <span style="float:right;">$ {{product.price}}</span>
        </ion-item>
        <ion-item class="item-accordion item-button-right" ng-show="isGroupShown(product)">
          <p> Cantidad: {{product.order}} </p>
          <p> <strong> Total: $ {{product.total}} </strong> </p>
          <input id="description" type="text" class="note" ng-model="product.note" value="{{product.note}}" placeholder="Añadir comentario..." maxlength="30"></input>
          <div class="buttons">
            <button class="button button-stable" ng-click="removeOrder(product)">
              <i class="icon ion-minus"></i>
            </button>
            <button class="button button-stable" ng-click="addOrder(product)">
              <i class="icon ion-plus"></i>
            </button>
          </div>
        </ion-item>

      </div>
    </ion-list>
	</ion-content>
</ion-view>