<ion-view title="Menú">

	<ion-nav-bar animation="nav-title-slide-ios7" class="bar-stable custom-bar">
	</ion-nav-bar>

	<ion-nav-title>
		<img id="logo-head" src="../img/horizont-small.png">
	</ion-nav-title>

	<ion-nav-buttons side="right">
		<button class="button" ng-controller="OrdersCtrl" ng-click="removeOrder()">
			<i class="icon ion-trash-b custom-trash-icon"></i>
		</button>
	</ion-nav-buttons>

	<ion-content>

		<div id="current-container">{{stay}} {{stayNumber}}</div>

		<div class="banner">
	      <h4>HAZ TU PEDIDO</h4>
	      <p>Elige los productos que quieras ordenar</p>	      
	    </div>

		<ion-list>

			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="category in categories" type="item-text-wrap" ng-click="selectType(category._id, category.name)">
				<h1 class="custom-name">{{category.name}}</h1>
				<i class="icon ion-chevron-right"></i>
			</ion-item>
			
		</ion-list>
	</ion-content>
</ion-view>