/* Empty. Add your own CSS if you like */

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.note{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
  background-color: rgba(4, 128, 206, 0.1);
  border: 2px solid #075fbb;
  border-radius: 2px;
}

.custom-trash-icon{
  color : red;
  font-size: 30px;
}

.banner-dark{
  background-color: #387ef5;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  line-height: 2px;
}

.banner-dark > h4{
  font-weight: bold;
  color: white;
  margin-top: 0px;
}

.banner{
  padding-bottom: 5px;
  padding-left: 10px;
  line-height: 2px;
  border-bottom-color: gray;
  border-bottom-style: solid;
  border-bottom-width: 5px;
}

.banner > h4{
  font-weight: bold;
}

.red{
  color: red !important;
}

.green{
  color: green !important;
}

.custum-button{
  width: 49%;
  height: 30px;
  color: white !important;
}

.bar{
  border-color: #0480ce !important;
  border-bottom-width: 3px;
}

.custom-bar{
  border-bottom-width: 3px !important;
}

.bar-subheader{
  border-bottom-width: 0px;
}

/*.tab-item.tab-item-active{
    border: 0 solid #0480ce !important;
}*/

.tab-title{
  font-weight: bold;
}

.sendButton{
  padding: 15px;
}

.sendButton > button{
  /*background: linear-gradient(#00a0e1, #075fbb);*/
  width: 100%;
}

.notification{
  padding: 10px;
}

#logo-container{
  text-align: center;
  margin-top: 15%;
  color: gray;
  font-weight: bold;
  font-size: 12px;
}

#logo{
  width: 50%;
}

#logo-head{
  width: 9%;
  margin-top: 6px;
}

.custom-input{
  border-style: solid;
  border-width: 1.5px;
  border-color: #0480ce;
  /*border-image: linear-gradient(to bottom, #00a0e1, #0b3fa8) 1;*/
}

.custom-input-medium{
  /*border-top-width: 3px;*/
  margin-top: 10px;
}

.custom-login-button{
  background: linear-gradient(#00a0e1, #075fbb);
  font-weight: bold;
  font-size: 14px;
}

.tab-title, .ng-binding{
  font-size: 16px;
}
.item.activated{
  background-color: #00a0e1 !important;
}

.item.activated > h2{
  color: white;
}

.banner-order{
  border-bottom-color: #00a0e1 !important;
}

.custom-item-product{
  background-color: rgba(4, 128, 206, 0.2);
  border-bottom: 2px solid white;
}

.custom-item-total{
  color: black;
  font-weight: bold;
  background-color: rgba(0, 160, 225, 0.6);
}

#order-total{
  color: black;
}

#description{
  margin-top: 10px;
  padding-left: 10px;
  background-color: rgba(4, 128, 206, 0.1);
  border: 1px solid #075fbb;
  border-radius: 2px;
}

#current-container{
  float: right;
  margin-right: 10px;
  color: #0480ce;
  font-size: 17px;
  font-weight: bold;
}

#close-button{
  float: right;
  color: red;
  background-color: transparent;
  border: transparent;
  margin-top: -14px;
  margin-right: -10px;
  margin-bottom: 5px;
}

.item.active{
  background-color: #11c1f3 !important;
  color: white;
}

.popup-body > input{
  margin-top: 10px;
  padding-left: 10px;
  background-color: rgba(4, 128, 206, 0.1);
  border: 2px solid #075fbb;
  border-radius: 2px;
}

.popup-title{
  font-weight: bold;
}

.bolder{
  font-weight: bold !important;
  font-size: 20px !important;
}

.status{
  float: right;
  font-weight: bold;
}

.custom-name{
  font-size: 24px !important;
}

.tab-item.activated, .tab-item.tab-item-active{
  border: 0 solid black !important;
}

.item-stable > .ng-binding{
  font-size: 18px;
}

.item-stable > i{
  font-size: 18px; 
}

/*
#00a0e1
#0480ce
#075fbb
#0b3fa8
*/